.flex {
    display: flex;
}

// flex with direction row
.flex-row {
    display: flex;
    flex-direction: row;
}

// flex with direction column
.flex-col {
    display: flex;
    flex-direction: column;
}

// flex wrap
.fw {
    flex-wrap: wrap;
}

// align-items-center
.aic {
    align-items: center;
}

// justify-content-center
.jcc {
    justify-content: center;
}

// justify-content end
.jce {
    justify-content: end;
}
