.popular-articles-container {
  margin-top: $padding;
  .articles-list {
    .article-preview {
      flex-basis: 100%;
      @include large-mobile-layout {
        flex-basis: 50%;
      }
      @include tablet-layout {
        flex-basis: 33.3%;
      }
    }
  }
}
