.article-preview {
    margin-top: 1rem;
    padding-right: 1rem;
    &.full-preview {
        width: 100%;
        justify-content: space-between;
        .article-preview-title {
            font-size: 1.7rem;
        }
        gap: 1rem;
    }
    .article-preview-header {
        gap: 12px;
        .username {
            font-size: 0.8rem;
            font-weight: bold;
        }
    }
    .article-preview-title {
        font-size: 1.3rem;
        font-weight: bold;
        cursor: pointer;
    }
    .preview-img {
        width: 200px;
        height: 134px;
    }
}
