.main-header-container {
  .main-header-nav {
    @include tablet-layout {
      align-items: center;
    }
  }
}
.join-nav-item {
  padding: 8px 0;
  @include tablet-layout {
    padding: 8px;
  }
}

.logo-and-name-container {
  gap: 5px;
  .siteName {
    span {
      color: #25c4dd;
    }
  }
}
